/* You can add global styles to this file, and also import other style files */
html,body{
    font-family: 'Press Start 2P', cursive;
    background-size: auto;
    background-image: url(../imagens/d7a61190a836bdcfc62bf97af4f4c74b.png);

}
h2{
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    
}

