<div class="monster-list">
    <div class="monster-item">
        <img src="https://robohash.org/1?set=set1&size=180x180" alt="">
        <h2>Obi-Wan Kenobi</h2> 
        <p>Força: 200</p>
        <p>Destreza: 150</p>
        <p>Magia: 190</p>
        <p>Defeza: 180</p>
        <p>Inteligência: 200</p>
    </div>
    <div class="monster-item">
        <img src="https://robohash.org/2?set=set1&size=180x180" alt="">
        <h2>Anakin Skywalker</h2> 
        <p>Força: 200</p>
        <p>Destreza: 150</p>
        <p>Magia: 200</p>
        <p>Defeza: 170</p>
        <p>Inteligência: 0</p>
    </div>
    <div class="monster-item">
        <img src="https://robohash.org/3?set=set1&size=180x180" alt="">
        <h2>Luke Skywalker</h2> 
        <p>Força: 150</p>
        <p>Destreza: 120</p>
        <p>Magia: 90</p>
        <p>Defeza: 180</p>
        <p>Inteligência: 150</p>
    </div>
    <div class="monster-item">
        <img src="https://robohash.org/4?set=set2&size=180x180" alt="">
        <h2>Leia Skywalker</h2> 
        <p>Força: 190</p>
        <p>Destreza: 150</p>
        <p>Magia: 50</p>
        <p>Defeza: 190</p>
        <p>Inteligência: 200</p>
    </div>
</div>
