<div class="monster-list">
    <div class="monster-item">
        <img src="https://robohash.org/1?set=set1&size=180x180" alt="">
        <h2>dragão</h2> 
        <p>força: 100</p>
        <p>destreza: 50</p>
        <p>magia: 100</p>
        <p>defeza: 100</p>
        <p>inteligência: 100</p>
    </div>
    <div class="monster-item">
        <img src="https://robohash.org/2?set=set1&size=180x180" alt="">
        <h2>orc</h2> 
        <p>força: 100</p>
        <p>destreza: 50</p>
        <p>magia: 100</p>
        <p>defeza: 100</p>
        <p>inteligência: 100</p>
    </div>
    <div class="monster-item">
        <img src="https://robohash.org/3?set=set1&size=180x180" alt="">
        <h2>lobisomen</h2> 
        <p>força: 100</p>
        <p>destreza: 50</p>
        <p>magia: 100</p>
        <p>defeza: 100</p>
        <p>inteligência: 100</p>
    </div>
    <div class="monster-item">
        <img src="https://robohash.org/4?set=set2&size=180x180" alt="">
        <h2>vampiro</h2> 
        <p>força: 100</p>
        <p>destreza: 50</p>
        <p>magia: 100</p>
        <p>defeza: 100</p>
        <p>inteligência: 100</p>
    </div>
</div>
