.monster-item {
display:flex;
flex-direction: column;
cursor: pointer;
transform: translateZ(0);
transition: transform 0.25s ease-out;

    background-color: rgb(131, 86, 193);
    margin: 10px;
    padding: 10px;
    border: 2px rgb(255, 255, 255);
    border-radius: 10px;

}
.monster-item{
    transform: scale(1.05);
}
.monster-list{
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

}