<div class="monster-list">
    <div class="monster-item">
        <img src="../../assets/imagens/obi.jpg" height= "300"  alt="">
        <h3>Space Jesus</h3>
        <h2>Obi-Wan Kenobi</h2> 
        <p>Força: 200</p>
        <p>Destreza: 150</p>
        <p>Magia: 190</p>
        <p>Defeza: 180</p>
        <p>Inteligência: 200</p>
    </div>
    <div class="monster-item">
        <img src="https://64.media.tumblr.com/0cf8d56854242007c9bcb2b7a240a4e3/d2bff7db21dbb6d5-18/s1280x1920/5f7ab61df6561f81bb587db7f39810876d4d3a7c.jpg" height= "300" alt=""> 
        <h3>Kids killer</h3>
        <h2>Anakin Skywalker</h2> 
        <p>Força: 200</p>
        <p>Destreza: 150</p>
        <p>Magia: 200</p>
        <p>Defeza: 170</p>
        <p>Inteligência: 0</p>
    </div>
    <div class="monster-item">
        <img src="https://64.media.tumblr.com/9974e89ca2ff07fae2fe6c1c1f2883f0/7530666bcc9d8608-01/s1280x1920/2d4c0ffa3241bfdbea0db9d58b9471c4704cb53c.png" height= "300" alt="">
        <h3>His sisters boyfriend</h3>
        <h2>Luke Skywalker</h2> 
        <p>Força: 150</p>
        <p>Destreza: 120</p>
        <p>Magia: 90</p>
        <p>Defeza: 180</p>
        <p>Inteligência: 150</p>
    </div>
    <div class="monster-item">
        <img src="https://i.pinimg.com/originals/e8/bb/6e/e8bb6e47e008e2f2b16f4de03b131ad1.jpg" height= "300" alt="">
        <h3>Drama queen</h3>
        <h2>Han Solo</h2> 
        <p>Força: 190</p>
        <p>Destreza: 150</p>
        <p>Magia: 50</p>
        <p>Defeza: 190</p>
        <p>Inteligência: 200</p>
    </div>
</div>
